@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <h3>Form Sales Order</h3>
  <form>
    <div class="mb-3">
      <label class="form-label">Customer</label>
      <select class="form-select" >
        <option selected disabled="disabled">-</option>
        @foreach (var customer in ViewBag.customers ?? new List<Customer>())
        {
          <option value="@customer.CustId">@customer.CustName</option>
        }
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label">Product</label>
      <select class="form-select" >
        <option selected disabled="disabled">-</option>
        @foreach (var product in ViewBag.products ?? new List<Product>())
        {
          // bool isDisable = product?.Prices == null || product?.Prices?.Count == 0;
          <option value="@product?.ProductCode" >@product?.ProductName</option>
        }
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Quantity</label>
      <input type="number" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
